@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-avatarBox {
  width: 2.75rem;
  height: 2.75rem;
}

@layer base {
  :root {
    /* Your custom colors in HSL */
    --background: 260 10% 6%; /* #0E0D10 */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 66, 46%, 20%; /* #494E1D */
    --border: 264 9% 22%; /* #38343E */
    --card: 0 0% 10%; /* #1A1A1A */
    --accent: 65 100% 49%; /* #E7FC00 */
    --dimmed: 0 0% 53%; /* #868686 */
    --button: 240 1% 18%; /* #2D2D2E */
    --remove: 348 53% 65%; /* #E66680 */

    /* shadcn required vars */
    --primary: 65 100% 49%; /* #E7FC00 */
    --primary-foreground: 260 10% 6%; /* #0E0D10 */
    --card-foreground: 0 0% 100%; /* #FFFFFF */
    --popover: 264 25% 10%; /* #1F1825 */
    --popover-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */
    --muted: 264 25% 10%; /* #1F1825 */
    --muted-foreground: 252 4% 62%; /* #9C9A9F */
    --accent-foreground: 260 10% 6%; /* #0E0D10 */
    --destructive: 348 53% 65%; /* #E66680 */
    --destructive-foreground: 260 10% 6%; /* #0E0D10 */
    --input: 0 0% 53%; /* #868686 */
    --ring: 65 100% 49%; /* #E7FC00 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
