@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-avatarBox {
  width: 2.75rem;
  height: 2.75rem;
}

@layer base {
  :root {
    /* Your custom colors in HSL */
    --background: 260 10% 6%; /* #0E0D10 */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 240 1% 39%; /* #636366 */
    --border: 264 9% 22%; /* #38343E */
    --card: 0 0% 10%; /* #1A1A1A */
    --accent: 65 100% 49%; /* #E7FC00 */
    --dimmed: 0 0% 53%; /* #868686 */
    --button: 240 1% 18%; /* #2D2D2E */
    --remove: 0 92% 44%; /* #D50C0C */

    /* Required shadcn vars using your dark theme */
    --primary-foreground: 0 0% 100%;
    --card-foreground: 0 0% 100%;
    --popover: 264 25% 10%;
    --popover-foreground: 0 0% 100%;
    --secondary: 264 41% 19%;
    --secondary-foreground: 0 0% 100%;
    --muted: 264 25% 10%;
    --muted-foreground: 252 4% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 348 53% 65%;
    --destructive-foreground: 0 0% 100%;
    --input: 282 10% 47%;
    --ring: 265 89% 58%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
